.wrap{width:100%;min-width:1280px;height:100vh;position:relative;overflow:hidden;overflow-y:hidden;overflow-x:hidden;}

/* 헤더부분 */
.dwp-header{position:fixed;top:0;left:0;width:100%;z-index:2;padding-right:24px;background-color:#fff;border-bottom:1px solid #D2D2D2;height:73px;box-shadow:1px 0px 3px 0px rgba(0,0,0,.5);}
.dwp-logo{position:absolute;top:50%;left:20px;transform:translateY(-50%);}
.dwp-icon-wrap{float:right;height:100%;font-size:0;}
.dwp-menu-logout{display:inline-block;width:58px;height:100%;background:url(/library/images/logout.png)center no-repeat;}
.dwp-menu-logout:hover{background:#f5f5f5 url(/library/images/logout.png)center no-repeat;}
.dwp-profile{display:inline-block;width:58px;height:100%;position:relative;cursor:pointer;}
.dwp-profile:hover{background:#f5f5f5;}
.dwp-photo{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);overflow:hidden;border:1px solid #979797;border-radius:50%;width:38px;height:38px;}
.dwp-photo img{width:100%;height:100%;}

/* 왼쪽 앱리스트 */
.dwp-app-list{position:fixed;top:73px;left:0;width:74px;height:calc(100vh - 73px);background:#fff;box-shadow:0 2px 4px 0 rgba(0,0,0,.5);z-index:1;padding:27px 0;}
.dwp-app-list li span{display:block;text-align:center;}
.dwp-app-list li em{display:block;margin-top:6px;text-align:center;font-size:11px;color:#252525;line-height:1.2;}
.dwp-app-list li + li{margin-top:20px;}

/* 조직도  */
.tree_box ul li .depth2{display:table;width:100%;}
.tree_box ul li div{display:table-cell;}
.tree_box ul li div img{vertical-align:middle;}
.standartTreeImage{width:18px;}

/* 오른쪽 inner*/
.dwp-container{position:absolute;top:73px;left:74px;width:calc(100% - 74px);height:calc(100vh - 73px);}
.dwp-lnb-wrap{float:left;width:238px;border-right:1px solid #d2d2d2;height:calc(100vh - 73px);}
.dwp-menu-head{overflow:hidden;padding:16px 19px 20px;background:#f4f4f4;height:68px;}
.dwp-menu-title{font-size:24px;line-height:1.33;color:#252525;letter-spacing:-.063em;}
.dwp-lnb{margin-top:19px;margin-bottom:20px;height:calc(100% - 87px);}
.dwp-lnb-item{position:relative;}
.dwp-lnb-depth2{position:relative;padding-bottom:30px;}
.dwp-lnb-depth2 > .dwp-lnb-item{padding:15px 19px 10px;}
.dwp-lnb-depth2 > .dwp-lnb-item:before{content:'';position:absolute;top:0;left:19px;width:calc(100% - 38px);height:1px;background:#f4f4f4;}
.dwp-lnb-depth2:last-child:after{content:'';position:absolute;bottom:0;left:19px;width:calc(100% - 38px);height:1px;background:#f4f4f4;}
.dwp-lnb-depth2 > .dwp-lnb-item .dwp-link{padding:0 6px;font-size:15px;line-height:38px;color:#000;letter-spacing:-.2px;word-spacing:-1px;}

.dwp-lnb-depth3 .dwp-lnb-item{padding:6px 25px;font-size:0;}
.dwp-lnb-depth3 .dwp-lnb-item.selected{background-color:#f4f4f4;}
.dwp-lnb-depth3 .dwp-lnb-item .dwp-link{position:relative;padding-left:15px;font-size:13px;line-height:1.33;color:#575757;letter-spacing:-.094em;}
.dwp-lnb-depth3 .dwp-lnb-item.selected .dwp-link::before{content:"";position:absolute;left:0;top:50%;transform:translate(0,-50%);display:block;width:6px;height:6px;border-radius:50%;background-color:#655da7;}

/* 컨텐츠부분 */
.dwp-body-wrap table{width:100%;}
.dwp-container .dwp-wrapping{float:left;width:calc(100% - 238px);height:100%;}
.dwp-page-heading{position:relative;top:0;padding:28px 45px 0;}
.dwp-page-heading .dwp-page-title span{color:#252525;font-size:24px;font-weight:400;line-height:1;letter-spacing:-.75px;}
.aligner{margin-top:20px;padding-bottom:10px;border-bottom:1px solid #e8e8e8;}
.aligner .left{float:left;}
.aligner .right{float:right;}

.dwp-search-form{position:relative;float:left;font-size:0;border:1px solid #d2d2d2;border-radius:3px;padding-right:33px;}
.dwp-search-form > div{display:inline-block;vertical-align:top;}
.dwp-selectbox{position:relative;}
.dwp-search-form .dwp-selectbox select{border-radius:3px 0 0 3px;}
.dwp-selectbox select{padding:0 30px 0 13px;border-width:0 1px 0 0;border-color:#d2d2d2;border-style:solid;border-radius:3px;width:90px;height:32px;outline:0;font-size:14px;line-height:32px;font-weight:400;color:#252525;letter-spacing:-.071em;appearance:none;background:#fff url(/library/images/down_ar.png)right 14px center no-repeat;}
.dwp-search-form .icon-search{position:absolute;top:-1px;right:-1px;width:34px;height:34px;border-radius:0 3px 3px 0;background:#655da7 url(/library/images/search_icon.png)center no-repeat;}
.dwp-search-form .dwp-input input{padding:4px 10px 7px;border:0;width:100%;background-color:#fff;font-size:14px;line-height:1.6;letter-spacing:-.017em;outline:0;border-left:0;border-right:0;border-radius:0 3px 3px 0;height: 32px;}
.dwp-btn-group .dwp-btn{font-size:0;}
.dwp-btn-group .dwp-btn > button{position:relative;margin-right:5px;padding:8px 10px 9px;border:0;border-radius:3px;height:34px;background:#fff;font-size:13px;line-height:1;font-weight:400;color:#252525;letter-spacing:-.085em;text-align:center;white-space:nowrap;cursor:pointer;outline:0;}
.dwp-btn-group .dwp-btn > button::after{content:'';position:absolute;left:0;top:0;border:1px solid #d2d2d2;border-radius:3px;width:100%;height:100%;}
.dwp-btn-group .dwp-btn > button.excel_down{background:#fff url(/library/images/excel_ic.png)left 9px center no-repeat !important;padding:8px 10px 9px 30px;}

.dwp-body{height:calc(100vh - 200px);overflow-y:scroll;}
.dwp-page-body.view{margin-top:20px;padding:0 29px 0 45px;}
.dwp-page-body.view table{border-top:1px solid #afafaf;text-align:center;table-layout:fixed;}
.dwp-page-body.view table thead{background:#f9f9f9;}
.dwp-page-body.view table th{font-size:13px;color:#333;}
.dwp-page-body.view table td{font-size:14px;color:#333;}
.dwp-page-body.view table tr{height:40px;}
.dwp-page-body.view table tbody tr{border-top:1px solid #ddd;}
.dwp-page-body.view table tbody tr:last-child{border-bottom:1px solid #ddd;}
.check_off{display:inline-block;width:16px;height:16px;border:1px solid #d2d2d2;appearance:none;cursor:pointer;background:#fff;vertical-align:-2px;}
.check_off.checked{background:url(/library/images/check_on.png)center no-repeat;border:0;}
.phone_code{text-align:left;padding-left:15px;}

.prev_btn{float:left;font-size:0;}
.prev_btn span{display:inline-block;width:34px;height:34px;border-radius:3px;overflow:hidden;cursor:pointer;}
.fir_pg{background:url(/library/images/ar_prev2.png)center no-repeat;background-position:0 -34px;}
.fir_pg:hover{background:url(/library/images/ar_prev2.png)center no-repeat;background-position:0 0;}
.prev{background:url(/library/images/ar_prev.png)center no-repeat;background-position:0 -34px;}
.prev:hover{background:url(/library/images/ar_prev.png)center no-repeat;background-position:0 0;}
.next_btn{float:left;}
.next_btn span{display:inline-block;width:34px;height:34px;border-radius:3px;overflow:hidden;cursor:pointer;}
.next{background:url(/library/images/ar_next2.png)center no-repeat;background-position:0 -34px;}
.next:hover{background:url(/library/images/ar_next2.png)center no-repeat;background-position:0 0;}
.las_pg{background:url(/library/images/ar_next.png)center no-repeat;background-position:0 -34px;}
.las_pg:hover{background:url(/library/images/ar_next.png)center no-repeat;background-position:0 0;}

.paging{margin-top:25px;padding:0 29px 0 45px;}
.paging ul{margin:0 8px;float:left;font-size:0;}
.dhx_page{display:inline-block;width:34px;height:34px;text-align:center;border:1px solid transparent;border-radius:3px;background:#fff;cursor:pointer;}
.dhx_page a{display:block;font-size:14px;font-weight:400;color:#222;line-height:32px;}
.dhx_page.active{border-color:#d1d1d1;}
.dhx_page.active a{color:#2a2a2a;}

/* 조직도  */
.tree_box{margin:0 19px;}
.tree_box li{line-height:1;}
.tree_box .tree_line img{padding:0px;margin:0px;width:18px;height:24px;}
.tree_box .tree_file{width:18px;line-height:1;}
.tree_box .tree_file img{padding:0px;margin:0px;width:18px;height:18px;}
.standartTreeRow span{font-size:13px;color:#333;cursor:pointer;padding-left:5px;padding-right:5px;vertical-align:middle;}
.selectedTreeRow{background:#fff3a1;border:0px solid #fff3a1;}

.null{width:18px;height:100%;background:url(/library/images/line.png)center repeat-y;}
.null2{width:18px;}



